<div class=homemainbanner>
  <div class=homemainbanner_contents>
      <div class=homemainbanner_text>
        <div id=slogen>
        <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry</span>
        </div>
      </div>
      <div class=homemainbanner_img>
        <img src="https://image.shutterstock.com/image-vector/person-gains-knowledge-success-better-600w-1463537591.jpg" alt style="width:100%;">
      </div>
    </div>
  </div>
</div>

<style>

.homemainbanner{
max-width: 1400px;
height: 700px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-box-flex: 1;
-ms-flex: 1;
flex: 1;
overflow: hidden;
padding: 0px 0px 0px 0px;
}

.homemainbanner_contents{
max-width: 100%;
max-height: 100%;
padding: 0px 0px 0px 0px;
list-style: none;
float: left;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: end;
justify-content: center;
-webkit-box-flex: 1;
-ms-flex: 1;
flex: 1;
overflow: hidden;
}

.homemainbanner_text{
width: 50%;
}

.homemainbanner_img{
max-width: 50% ;
}

#slogen{
padding: 100px 20px 0px 125px;
font-weight: bold;
font-size: 20px;
}

</style>
