<div class="mainbannercontainer">
        <div class="mainbannertext">
            <p>미래를 향해 나아가는 과학공학 이야기</p>
            <p>알기쉽게 풀어 쓴 너와 나의 과학노트 </p>
            <p id="notiz">Notiz</p>
        </div>
        <div class="mainbannerimage">
            <img id="mainimage" src="https://user-images.githubusercontent.com/79562050/169675383-380f308c-32bf-414e-8fe8-5b24f522e721.png">
        </div>
</div>

<style>
    .mainbannercontainer{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction:row;
        justify-content: center;
        flex-grow: 1;
        margin-top: 1rem;
    }
    .mainbannertext{
        flex-grow: 1;
        font-size: 1.2rem;
        line-height: 0.7rem;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: bold;
        padding: 3rem 0 0 3rem;
    }
    .mainbannerimage{
        flex: 1 40%;
        width: 50%;
        text-align: right;
    }
    #mainimage{
        padding: 3rem 3rem 0 0;
        width:80%;
    }
    #notiz{
        font-size: 3rem;
    }
</style>