<div class="main-linktree-cont">
    <div class="main-linktree-head">
        <p id="main-linktree-head-text">Notice & Info</p>
    </div>
    <div class="main-linktree-boxzone">
        <div class="main-linktree-linkbox"></div>
        <div class="main-linktree-linkbox"></div>
        <div class="main-linktree-linkbox"></div>
    </div>
</div>

<style>
    .main-linktree-cont
    {
        width: 100%;
    }
    .main-linktree-head
    {
        width: 100%;
        height: 100px;
        text-align: center;
        vertical-align: center;
    }
    #main-linktree-head-text
    {
        font-size: 3rem;
    }
    .main-linktree-boxzone
    {
        margin-top: 50px;
        display: flex;
    }
    .main-linktree-linkbox
    {
        flex: 1 1 auto;
        justify-content: space-around;
        height: 200px;
        border-radius: 1rem;
        background-color: #9f9f9f;
    }
</style>