<div class="main-banner-cont">
    <div class="main-banner-text">
        <p id="main-banner-notiz">NOTIZ</p>
        <p id="main-banner-impact">미래를 향한 과학공학 이야기, 우리들의 과학노트</p>
        <button class="main-banner-b1" onclick="window.location.href=''">시작하기</button>
    </div>
</div>

<style>
    .main-banner-cont
    {
        width: fill;
        height: 800px;
        display: flex;
        flex: none;
        order: 1;
        flex-grow: 0;
        flex-direction: column;
        align-items: center;
        margin: 0px;
        padding: 150px 10px 10px;
        gap: 10px;
        background: #EFEFEF;
    }
    .main-banner-text
    {
        font-family: 'Noto Sans KR', sans-serif;
        text-align: center
    }
    #main-banner-notiz{
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 61px;
        margin: 0px;
        text-align: center;
    }
    #main-banner-impact{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        margin: 10px;
        text-align: center;
        margin-bottom: 320px;
    }
    .main-banner-b1
    {
        width: 100px;
        height: 40px;
        margin: 0px;
        padding: 10px;
        background-color: #036e9c;
        color: #f3f3f3;
        border: none;
        border-radius: 0.5rem;
        font-size: 16px;
        font-weight: middle;
        align-items: center;
        text-align: center;
    }
</style>