<div class="main-banner-cont">
    <div class="main-banner-text">
        <p id="main-banner-impact">미래를 향해 나아가는 과학공학 이야기<br>알기쉽게 풀어 쓴 너와 나의 과학노트</p>
        <p id="main-banner-notiz">NOTIZ</p>
        <button class="main-banner-b1" onclick="window.location.href=''">시작하기</button>
    </div>
    <div class="main-banner-img">
        <img id="mainimage" src="">
    </div>
</div>

<style>
    .main-banner-cont
    {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction:row;
        justify-content: center;
    }
    .main-banner-text
    {
        flex: 10 10 345px;
        font-family: 'Noto Sans KR', sans-serif;
        padding: 2vw;
    }
    .main-banner-img
    {
        flex: 16 16 550px;;
        height: 61.54vw;
        text-align: center;
        background-color: #6f6f6f;
    }
    .mainimage
    {
        padding: 3vw 3vw 3vw 3vw;
        width:100%;
        height: auto;
    }
    #main-banner-notiz{
        font-weight: bold;
        font-size: 3rem;
        line-height: 3rem;
        margin: 0vw 0vw 1vw 0vw;
        vertical-align: middle;
    }
    #main-banner-impact{
        font-weight: normal;
        font-size: 1rem;
        margin: 20vw 0vw 0vw 0vw;
    }
    .main-banner-b1
    {
        margin: 0vw;
        padding: 0.5rem, 1rem;
        height: 2rem;
        background-color: #003669;
        color: #f3f3f3;
        border: none;
        border-radius: 0.5rem;
        font-size: 1rem;
        font-weight: middle;
    }
</style>