<div class="mainbannercontainer">
    <div class="mainbannerbackground">
        <img id="mainbannerbackground" src="">
    </div>
    <div class="mainbannertext">
        <p id="notiz">Notiz</p>
        <p>미래를 향해 나아가는 과학공학 이야기<br>알기쉽게 풀어 쓴 너와 나의 과학노트</p>
    </div>
    <div class="mainbannerimage">
        <img id="mainimage" src="https://user-images.githubusercontent.com/79562050/169675383-380f308c-32bf-414e-8fe8-5b24f522e721.png">
    </div>
</div>

<style>
    .mainbannercontainer{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction:row;
        justify-content: center;
        flex-grow: 1;
        margin-top: 1rem;
    }
    .mainbannertext{
        flex-grow: 1;
        font-size: 1.2rem;
        line-height: 1.5rem;
        font-family: 'Noto Sans KR', sans-serif;
        padding: 3rem 0 0 3rem;
    }
    .mainbannerimage{
        flex: 1 40%;
        width: 50%;
        text-align: right;
    }
    #mainimage{
        max-height: 400px;
        padding: 3rem 3rem 0 3rem;
        width:calc(100%-6rem);
    }
    #notiz{
        font-size: 3rem;
        margin-bottom: 2rem;
    }
    #mainbannerbackground{
        position: absolute;
        width: 100%;
    }
</style>