<div class="monthlynotiz-banner-cont">
    <div class="monthlynotiz-banner-text">
        <p id="monthlynotiz-banner-title">Monthly Not!z</p>
        <p id="monthlynotiz-banner-impact">매달 새롭게 찾아오는 흥미로운 과학이야기</p>
    </div>
</div>

<style>
    .monthlynotiz-banner-cont
    {
        width: fill;
        height: 400px;
        display: flex;
        flex: none;
        order: 1;
        flex-grow: 0;
        flex-direction: column;
        align-items: center;
        margin: 0px;
        padding: 100px 10px 10px;
        gap: 10px;
        background: #EFEFEF;
    }
    .monthlynotiz-banner-text
    {
        font-family: 'Noto Sans KR', sans-serif;
        text-align: center
    }
    #monthlynotiz-banner-title
    {
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 61px;
        margin: 0px;
        text-align: center;
    }
    #monthlynotiz-banner-impact
    {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        margin: 10px;
        text-align: center;
        margin-bottom: 280px;
    }
</style>